#banner  {
    padding-top:  10px;
    padding-bottom:  10px;
    border-bottom:  2px  solid;
    font:  small-caps  40px/40px  "Times  New  Roman",  serif;
    color:  #000 ;
    text-align:  center;
}

#quick_links  {
    padding-top:  10px;
    padding-bottom:  10px;
    border-bottom:  2px  solid;
    font:  small-caps  "Times  New  Roman",  serif;
    color:  #000 ;
    text-align:  center;
}