#colonne_gauche{
	background:  ;
	font:  small-caps   "Times  New  Roman",  serif;
	float:  left;
	padding-top:  1em;
	padding-left:  1em;
	padding-bottom:  1em;
	width:  12em;
}

#affichage_central{
	margin-left:  12em;
	padding-top:  1em;
	padding-left:  1em;
}

#notifications{
	background: magenta;
}
