<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Crack: Compte-rendu d'activité pour Kantena</title>
  <link rel="stylesheet" href="/crak.css" type="text/css" media="all"/>
</head>
<body>
  <div id="header">
      <p class="resume"><a href="/">Crack: Compte-rendu d'activité pour Kantena</a></p>
  </div>

  <div id="main"
    <%= yield %>
  </div>

  <div id="footer">
    <div class="block">
      <ul>
        <li><a href="/clients/vcsi">VCSI</a></li>
        <li>Raflatak</li>
        <li>Mr Bricolage</li>
        <li>Dexia</li>
      </ul>
    </div>

    <div class="block">
      <ul>
        <li>Pit</li>
        <li><a href="/yaf">Yaf</a></li>
        <li>Thr</li>
        <li>Thk</li>
        <li>Bga</li>
      </ul>
    </div>

    <div class="block">
      <ul>
        <li>Mai 2009</li>
        <li>Juin 2009</li>
        <li>Juillet 2009</li>
        <li>Aout 2009</li>
        <li>Septembre 2009</li>
        <li>Octobre 2009</li>
        <li>Novembre 2009</li>
        <li>Décembre 2009</li>
        <li>Janvier 2010</li>
        <li>Fevrier 2010</li>
      </ul>
    </div>
  </div>
</body>
</html>
