<% @customers.each do |customer| -%>
  <p>
    Clients : <%= customer.name %> <br/>
    Jours à facturer dans toute la table : <%= customer.total_working_days %> <br/>
    Jours à facturer du mois courant : <%= customer.current_working_days %> <br/>
  </p>
<% end %>

