<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>  Fonctionnalites pour Angelique </title>
</head>

<body>
<p> 
  <a href="/pages/infos_facturation" > Informations pour la facturation des clients du mois courant </a> </br>
  <a href="/clients" > Gestion des clients  de Kantena </a>
</p>
</body>