
﻿<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title> Informations facturation mois dernier</title>
</head>

<body>
  <div id="infos_facturation_importantes"> 
    <h1> Suivi de l'état des facturations du mois de : <%= @mois_courant %></h1> 

    <h4> Validation de toutes les facturations ? </h4>
    <h4> Il reste à facturer les clients suivants : </h4>
     <h4> Le personnel suivant n'a pas encore validé ses jours de travail : </h4>
    <h4>Notification des événements survenus entre le 25 et la fin du mois courant :  </h4>
    <p> 
  </div>
  <br/>
    
  <div id="tableau_infos_clients">
  <h3> Informations détaillées </h3>
    <table>
    <colgroup>
      <col span='3' width="200" style=""/>
    </colgroup>
    
    <thead>
      <tr>
        <th scope="col">Nom du client</th>
        <th scope="col">Nombre de jours à facturer</th>
        <th scope="col">Etat de la facturation </th>
        <th scope="col">Suivre la validation des journées de travail des développeurs</th>
      </tr>
      </thead>
  
    <tbody>
    <% if @infos_clients.size != 0 %>
      <% @infos_clients.each do |nom, nb_jours_a_facturer| -%>
        <tr>
          <td> <%=nom%> </td>
			<td> <%=nb_jours_a_facturer%> </td>
        </tr>
      <% end -%>
        
    <% end %>
      </tbody>
      </table>
  </div>
  <br/>
  <a href="infos_facturation" > Informations du mois courant</a>
</body>


