<head>
  <title> @page_title </title>
</head>

<body>
<div id="systeme_authentification">
<h2> Implémenter système d'authentification </h2>
<h2> Redirection vers page principale angélique dans 5 secondes </h2>
<div>
</body>
