<head>
  <title> @page_title </title>
  <%=  stylesheet_link_tag  "main_angelique", :media => "all"  %>
</head>

<body>
<div id="colonne_gauche">
<div id="fonctionnalites">
  <h3> Fonctionnalités </h3> 
  <a href="ang_gestion_facturations"> Gestion des facturations </a>
</div>
</div>

<div id="affichage_central">
<div id="notifications">
  <h3> Notifications : </h3>
  <h3> Ajouter des vues partielles, en fonction de l'évolution des fonctionnalités de l'application</h3>
  </div>
  <div id="liste_clients_nb_jours à facturer">
<table border width="600">
<thead>
  <tr>
    <th>Client</th>
    <th>Nombre de jours à facturer du mois courant</th>
  </tr>
</thead>

<tbody>
<% @infos_client_mois_courant.each do |nom_client, nb_jours_a_facturer | %>
  </tr>
    <td><%=nom_client %></td>
    <td><%=nb_jours_a_facturer %></td>
    </tr>
<% end %> 
</tbody>
</table>
<p> Commentaire : rendre sous forme d'une vue partielle </p>
</div>
</div>

</body>