<!DOCTYPE  html>
<html>
  <head>
    <title> <%= @page_title || "Clochette" %> </title>
    <%=  stylesheet_link_tag  "clochette", :media => "all"  %>
  </head>

  <body>
    <%=  yield  %>
  </body>

</html>
