<!DOCTYPE  html>
<html>
  <head>
    <title> <%= @page_title || "Clochette" %> </title>
    <%=  stylesheet_link_tag  "clochette", :media => "all"  %>
    <%=  javascript_include_tag  :defaults  %>
  </head>

  <body>

    <%=  yield  %>

  </body>

</html>
